<?php
/** @var Elogic\StoreLocator\Block\Template $block */
/** @var $storeViewModel Elogic\StoreLocator\ViewModel\ViewStore */
$storeViewModel = $block->getStoreViewModel();
$store = $storeViewModel->getOutData();
?>

<?php
    $q = $store->getLatitude() . "," . $store->getLongitude();
    $key = $store->getData('key');
?>

<iframe
    width="600"
    height="450"
    style="border:0"
    loading="lazy"
    allowfullscreen
    referrerpolicy="no-referrer-when-downgrade"
    src="https://www.google.com/maps/embed/v1/place?key=<?= $block->escapeHtml($key) ?>
    &q=<?= $block->escapeHtml($q) ?>
">
</iframe>
<p><?= $block->escapeHtml($store->getName()) ?></p>
<div>
    <?php
        if ($store->getImage()):
    ?>
    <img src="<?= $block->escapeHtml($store->getImage()) ?>">
    <?php endif; ?>
</div>
<p><?= $block->escapeHtml($store->getDescription()) ?></p>




