<?php
/** @var Elogic\StoreLocator\Block\Stores $block */

$collection = $block->getCollection();

?>

<?php if (!$collection):?>
    <p class="message note"><?= $block->escapeHtml(__('We can\'t find stores matching the selection.')) ?></p>
<?php else:?>

    <div class="products wrapper grid products-grid">
        <ol class="products list items product-items">
            <?php foreach ($collection as $_product):?>
                <li class="item product product-item">
                    <div class="product-item-info">
                        <?php // Product Image ?>
                        <a href="<?= $block->escapeUrl($block->getUrl($block->getUrl('', ['stores' => $_product->getStoreUrlKey()]))) ?>" class="product photo product-item-photo">
                            <?php if ($block->getImg($_product)) : ?>
                                <img src="<?= $block->escapeHtml($block->getImg($_product)) ?>" alt="no_store_picture">
                            <?php endif; ?>
                        </a>
                        <div class="product details product-item-details">
                            <strong class="product name product-item-name">
                                <a href="<?= $block->escapeUrl($block->getUrl($block->getUrl('', ['stores' => $_product->getStoreUrlKey()]))) ?>" class="product-item-link">
                                    <?= $block->escapeHtml($_product->getName()) ?>
                                </a>
                            </strong>

                        </div>
                    </div>
                </li>
            <?php endforeach; ?>
        </ol>
    </div>
    <?php
    if ($block->getPagerHtml()): ?>
        <div class="order-products-toolbar toolbar bottom"><?= $block->getPagerHtml() ?></div>
    <?php endif; ?>
<?php endif; ?>

